body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 100px 0;
}

div p {
  margin-top: 5px;
  margin-bottom: 15px;
}

h1 {
  color: #006633;
}

a.button {
  display: inline-block;
  background-color: #006633;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 30%;
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 0;
}

a.button:hover {
  background-color: #004d26;
}

form {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input {
  width: 90%;
  padding: 8px;
  margin: 8px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: #006633;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 95%;
}

button:hover {
  background-color: #004d26;
}

a {
  display: block;
  margin-top: 10px;
  color: #006633;
}

label {
  display: block;
  text-align: left;
  font-size: 0.9em;
  margin-top: 8px;
  color: #006633;
}

#message {
  font-size: 0.9em;
  min-height: 1em;
  margin: 8px;
}

.success {
  color: green;
}

.error {
  color: red;
}
